{% extends 'layouts/addPlay.twig' %}
{% import "macros/rank.twig" as selectors %}

{% block formAction %}/games/{{ game.idjeu }}/save{% endblock %}

{% block formContent %}
    
<ul class="media-list">
    {% for player in players %}
        {% set playerRank = "player" ~ loop.index  %}

        <li class="media">
            <img class="profil-small media-object scores" src="{{ player.image }}">
            <div class="media-body">
                <h4 class="media-heading">{{ player.name }}</h4>
                <input type="hidden" name="{{ playerRank }}" value="{{ player.id }}"}>
                {% if game.method_pts == 'winloose' %}
                <div class="btn-group span2" data-toggle="buttons-radio">
                    <button type="button" class="btn btn-success">G</button>
                    <button type="button" class="btn-end btn btn-danger active">P</button>
                </div>
                {% else %}
                    {{ selectors.rank(players|length, 'rank' ~ player.id) }}
                {% endif %}
                </div>
        </li>
    {% endfor %}
</ul>

<div class="form-actions">
    <input type="hidden" name="nbPlayers" value ="{{ players|length }}">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="/" class="btn ">Retour</a>
</div>

{% endblock %}