{% extends 'layouts/addPlay.twig' %}
{% import "macros/rank.twig" as selectors %}

{% block formAction %}/games/{{ game.idjeu }}/save{% endblock %}

{% block formClass %}form-inline{% endblock %}

{% block formContent %}
    
<ul class="media-list">
    {% for player in players %}
        {% set playerRank = "player" ~ loop.index  %}

        <li class="media">
            <img class="profil-small media-object scores" src="{{ player.image }}">
            <div class="media-body">
                <h4 class="media-heading">{{ player.name }}</h4>
                <input type="hidden" name="{{ playerRank }}" value="{{ player.id }}"}>
                <input class="input-small pts" type="number" name="pts{{ loop.index }}" value=""/><span class="help-inline">{{ game.pts_unit }}</span>
                {{ selectors.rank(players|length, 'rank' ~ loop.index) }}
            </div>
        </li>
    {% endfor %}
</ul>

{% for field, value in postFields %}
    <input type="hidden" name="{{ field }}" value="{{ value }}" />
{% endfor %}

<div class="form-actions">
    <input type="hidden" name="nbPlayers" value ="{{ players|length }}">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="/" class="btn ">Retour</a>
    <label class="checkbox autoRank">
        <input type="checkbox" name="auto" value="" checked="checked">
        Classement auto
    </label>
</div>
{% endblock %}

{% block jsFooter %}
    <script type="text/javascript">
    <!--
        $(function() {
            $('div.btn-group[data-toggle-name]').each(function() {
                var group = $(this);
                var form = group.parents('form').eq(0);
                var name = group.attr('data-toggle-name');
                var hidden = $('input[name="' + name + '"]', form);
                $('button', group).each(function() {
                    var button = $(this);
                    button.on('click', function() {
                        hidden.val($(this).val());
                    });
                    if (button.val() == hidden.val()) {
                        button.addClass('active');
                    }
                });
            });
        });
    //-->
    </script>
{% endblock %}