{% extends 'layouts/addPlay.twig' %}
{% import "macros/rank.twig" as selectors %}

{% block formAction %}/games/{{ game.idjeu }}/save{% endblock %}

{% block formClass %}form-inline{% endblock %}

{% block formContent %}
    
<ul class="media-list">
    {% for player in players %}
        {% set playerRank = "player" ~ loop.index  %}

        <li class="media">
            <img class="profil-small media-object scores" src="{{ player.image }}">
            <div class="media-body">
                <h4 class="media-heading">{{ player.name }}</h4>
                <input type="hidden" name="{{ playerRank }}" value="{{ player.id }}"}>
                <input class="input-small pts" type="number" name="pts{{ loop.index }}" value=""/><span class="help-inline">{{ game.pts_unit }}</span>
                {{ selectors.rank(players|length, 'rank' ~ player.id) }}
            </div>
        </li>
    {% endfor %}
</ul>

<div class="form-actions">
    <input type="hidden" name="nbPlayers" value ="{{ players|length }}">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="/" class="btn ">Retour</a>
    <label class="checkbox autoRank">
        <input type="checkbox" name="auto" value="" checked="checked">
        Classement auto
    </label>
</div>
{% endblock %}